@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    background-image: linear-gradient(to top, #f0a585 20%, #9b8cf0 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.wrapper {
    .title {
        font-family: 'Bebas Neue', cursive;
        text-align: center;
        letter-spacing: 15px;
        word-spacing: 20px;
        padding: 20px;
    }

    .inputs {
        display: flex;
        justify-content: space-around;
        font-family: 'Roboto', sans-serif;

        .input-box {
            width: 48%;
            min-height: 550px;
            height: fit-content;
            border: 1px solid black;
            display: inline-block;
            border-radius: 0 30px;
            background-color: rgb(10, 10, 32);
            padding: 10px;

            header {
                color: rgb(255, 255, 0);
                border-bottom: 1px solid white;
                text-align: center;
            }

            #editor {
                width: 100%;
                min-height: 500px;
                height: 100%;
                background-color: rgb(10, 10, 32);
                color: #FFF;
                border: none;
                border-radius: inherit;
            }
        }

        .output-box {
            width: 48%;
            min-height: 550px;
            height: fit-content;
            max-height: 550px;
            border: 1px solid black;
            background-color: rgb(255, 255, 255);
            display: inline-block;
            border-radius: 30px 0;
            overflow: auto;
            padding: 10px;

            header {
                color: rgb(0, 0, 0);
                border-bottom: 1px solid rgb(0, 0, 0);
                text-align: center;
            }

            #preview {
                width: 100%;
                min-height: 500px;
                height: fit-content;
                background-color: rgb(255, 255, 255);
                border-radius: inherit;

                blockquote {
                    border-left: 3px solid #224b4b;
                    color: #224b4b;
                    padding-left: 5px;
                    margin-left: 25px;
                }

                code {
                    background: white;
                    font-size: 0.875rem;
                    font-weight: bold;
                }

                pre {
                    display: block;
                    overflow: auto;
                    background: white;
                    padding: 5px;
                    line-height: 1.2;
                }

                h1 {
                    border-bottom: 2px solid $darkAccent;
                }

                h2 {
                    border-bottom: 1px solid $darkAccent;
                }

                table {
                    border-collapse: collapse;
                }

                td,
                th {
                    border: 2px solid $darkAccent;
                    padding-left: 5px;
                    padding-right: 5px;
                }

                img {
                    display: block;
                    max-width: 90%;
                    margin: 2rem auto;
                }
            }
        }
    }
}